@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --NavajoWhite: #ffe7d2;
    --gray: #e1e1e1;
    --silver: #eff3fa;
    --black: #000;
    --yellow: #ffc600;
    --yellow-hover: #e9bd21;
    --robot: 'Roboto', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --gravitaone: 'Gravitas One', cursive;
    --grey11: #1C1C1C;
    --greylight: rgb(89, 95, 117);
    --blue: #2659e7;
    --plus-color: #5b42ea;
    --graylight: #f5f6fa;
}


/* MAIN */

/* SECTION TOP */
.animation-section {
    background: linear-gradient(-60deg, #0c31b0, #2dc7cc, #f035ad, #f5ae44) no-repeat fixed;
    background-size: 300% 300%; 
    height: 100vh;
    animation: gradientSection 15s ease alternate infinite;   
}
@keyframes gradientSection {
    from {
        background-position: 0 50%;
    }
    to {
        background-position: 100% 50%;
    }
}
.content-animation {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.text-animation-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-animation-section h1 {
    color: var(--silver);
    font: 600 48px var(--montserrat);
    margin-bottom: 40px;
}
.paragraph-animation {
    color: var(--grey11);
    font: 18px var(--robot);
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.paragraph-two-animation {
    color: var(--silver);
    font: 500 16px var(--robot);
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 60px;    
}
.buttom-animation a {
    padding: 15px 50px;
    background-color: var(--yellow);
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px rgb(255 255 255 / 61%);
    color: var(--black);    
    font: 600 14px var(--robot);
    text-decoration: none;
    text-transform: uppercase; 
    animation: pulse 0.75s linear alternate infinite;  
}
@keyframes pulse {
    to{
        transform: scale(1.1);
        filter: brightness(200%);
    }
}
.buttom-animation a:hover {
    background-color: var(--silver);
    color: var(--yellow);   
}
.content-animation img{
    height: 100vh;
    padding-left: 50pz;
}


/* TRAFFIC*/
.traffic {
    background: var(--white) fixed;
    height: 100vh;
}
.traffic-container {
    width: 60%;
    margin: 0 auto;
}
.traffic-text-content h2 {
    font: 600 28px var(--montserrat);
    text-align: center;
    padding: 0 255px;
    margin-top: 200px;
}
.traffic-text-content p {
    font: 18px var(--robot);
    color: var(--greylight);
    text-align: center;
    padding: 0 155px;
    margin: 80px 0 80px 0;
}
.container-img-traffic {
    display: flex;
    gap: 100px;
    margin-top: 150px;
}
.container-img-traffic div {
    flex: 1;
}
.container-img-traffic img {
    width: 50px;
    height: 50px;
}
.container-img-traffic h3 {
    font: 600 18px var(--montserrat);
    margin: 20px 0 20px 0;
}
.container-img-traffic p {
    font: 16px var(--montserrat);
    color: var(--greylight);
    line-height: 30px;
}



.testimony {
    background: var(--NavajoWhite) fixed;
    height: 100vh;
}
.container-testimony {
    width: 60%;
    margin: 0 auto;
    padding: 200px 0 0 0;
}
.content-text-testimony {
    display: flex;    
}
.content-text-testimony p {
    color: var(--grey11);
    font: 24px var(--robot);
    line-height: 40px;
    padding-right: 200px;
}
.content-text-testimony img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.content-img-testimony {
    font: 15px var(--robot);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.title-img {
    font: 500 18px var(--robot);
}
.content-conversion-testimony {
    display: flex;
    gap: 150px;
    padding-top: 100px;
}
.content-conversion-testimony h2 {
    font: 500 48px var(--montserrat);
    margin-bottom: 20px;
}
.content-conversion-testimony h5 {
    font: 600 16px var(--montserrat);
    margin-bottom: 20px;
}
.content-conversion-testimony p {
    color: var(--greylight);
    font: 16px var(--robot);
    line-height: 30px;
}




.services {
    width: 100%;
    height: 100vh;
    background-image: url("../images/bg.jpg");
    background-position: center; 
    background-size: cover;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.8; 
}
.container-services {
    width: 60%;
    margin: 0 auto;
    color: var(--white);
}
.title-services {
    font: 28px var(--montserrat);
    text-align: center;
    padding-top: 50px;
}
.container-cards-services {
    display: flex;
    gap: 80px;
}
.card-service {
    background-color: var(--white);
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-radius: 10px;
}
.card-service img {
    width: 40px;
    height: 40px;
}
.icons-service {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}
.icons-service span {
    font: 600 24px var(--robot);
    color: var(--plus-color);
}
.complet-service {
    font: 600 18px var(--robot);
    color: var(--black);
    margin-bottom: 30px;
}
.reduced-customer {
    font: 14px var(--robot);
    color: var(--grey11);
    text-align: center;
    margin-bottom: 30px;
    line-height: 30px;
}
.buttom-services {
    background-color: var(--yellow);
    border: 2px solid transparent;
    border-radius: 30px;
    color: var(--black);
    font: 600 14px var(--robot);
    padding: 15px 30px;
    text-decoration: none;       
}
.buttom-services:hover {
    animation: hover 0.5s linear infinite; 
    background-color: var(--white);
    border: var(--yellow-hover) solid 2px;           
}
@keyframes  hover{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.full-service {
    padding: 50px 200px;
}
.service {
    font: 600 18px var(--montserrat);
    color: var(--blue);
    text-align: center;
    margin-bottom: 40px;
}
.full-service h2 {
    font: 600 28px var(--montserrat);
    color: var(--white);
    text-align: center;
    margin-bottom: 40px;
}
.full-service-text {
    font: 300 18px var(--robot);
    line-height: 30px;
    text-align: center;
}





.optimizationprocess {
    height: 100vh;
    background: var(--gray) fixed;
}
.container-optimization {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 80px;
}
.optimization-letter {
    background-color: var(--white);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}
.optimization-letter span {
    font: 600 28px var(--montserrat);
    color: var(--plus-color);
}
.optimization-letter-b {
    background-color: var(--plus-color);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;    
}
.optimization-letter-b span {
    font: 600 28px var(--montserrat);
    color: var(--white);
}
.content-optmization {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-optimization {
    width: 600px;
    height: 400px;
    background-image: url("../images/0113b042-cm-screenshot.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.img-optimization-b {
    width: 600px;
    height: 400px;
    background-image: url("../images/8055ed47-cm-screenshot-b.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}






.conversion-rates {
    width: 100%;
    height: 100vh;
    background: var(--white) fixed;
}
.container-conversions-rates {
    width: 60%;
    margin: 0 auto;
    display: flex;
    gap: 80px;
}
.content-conversion {
    flex: 1;
}
.img-man-conversion img {
    height: 70vh;
    margin-top: 292px;
}
.img-man-conversion {
    z-index: 3;
}
.percent-img {  
    position: absolute;
    margin-top: -810px;
    margin-left: 260px;
    width: 250px;
    height: 150px;
    z-index: 2;    
}
.percent-img img {
    width: 250px;
    height: 150px;
    border-radius: 10px;
}
.exemplo-conversion {
    position: absolute;
    margin-top: -350px;
    margin-left: 360px;
    z-index: 1;
}
.exemplo-conversion img {
    border-radius: 10px;
}
.content-text-conversion {
    flex: 1;
    display: flex;
    gap: 30px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
}
.content-text-conversion h3 {
    font: 600 28px var(--montserrat);
}
.content-text-conversion p {
    font: 300 16px var(--montserrat);
    line-height: 25px;
}






.dynamic-pages {
    width: 100%;
    height: 100vh;
    background-image: url("../images/bg-dynamic-pages.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.7;
}
.container-dynamic-pages {
    width: 60%;
    margin: 0 auto;
}
.container-text-synamic-pages {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.container-dynamic-pages h2 {
    font: 600 28px var(--montserrat);
    color: var(--white);
    text-align: center;
    padding-top: 120px;
}
.container-dynamic-pages p {
    font: 300 18px var(--robot);
    color: var(--white);
    text-align: center;
    line-height: 30px;
    padding: 25px 200px 50px 200px;
}
.text-google {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.img-google1 img, .img-google2 img {
    width: 100%;
    border: 2px solid #C0C0C0;
    border-radius: 5px;
}
.img-dynamic-pages {
    flex: 1;
}
.img-dynamic-pages img {
    width: 100%;
    border-radius: 10px;
}






.cards {
    width: 100%;
    height: 100vh;
    background: var(--white) fixed;    
}
.container-cards {
    width: 60%;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    margin-top: 300px;    
}
.content-cards {
    background-color: var(--yellow);
    padding: 80px;
    text-align: center;
    border-radius: 10px;
    flex: 1;
}
.content-cards h3 {
    font: 500 18px var(--montserrat);
    margin-bottom: 40px;
}
.content-cards p {
    font: 16px var(--robot);
    color: var(--greylight);
    line-height: 30px;
    text-align: center;
}
.text-cards {
    margin-bottom: 40px;
}
.img-cards img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}
.text-img-cards h5 {
    font: 500 18px var(--montserrat);
}







.pages-exemple {
    width: 100%;
    height: 100vh;
    background: var(--silver) fixed;
}






.faq {
    width: 100%;
    height: 100vh;
    background: var(--black) fixed;    
}





.footer {
    width: 100%;
    min-height: 350px;
    background: var(--yellow); 
}